Data/*
backup/*
VideoTracker/obj/**
VideoTracker/bin/**
VideoTrackerInstaller/obj/**
VideoTrackerInstaller/bin/**
VideoTrackerLib/obj/**
VideoTrackerLib/bin/**
Plugins/PutLocker/**
"Plugins/VideoTrackerUtils/CloudFlare-Cookies.txt"
*.suo
*.pdb

